In [12]:
import pandas as pd

In [13]:
df_SP500 = pd.read_csv('./dataset/SP500_1.csv')

In [16]:
df_SP500.rename(columns={' Close': 'Close', ' Low': 'Low', ' High': 'High', ' Open': 'Open'}, inplace=True)

In [17]:
pd1 =  pd.concat([df_SP500['Close'], df_SP500['Close'].shift(-1)], axis=1)

In [33]:
concatenated = df_SP500
for i in range(1,30):
    print(i)
    concatenated = pd.concat([concatenated , df_SP500['Close'].shift(-i).rename(f'Close{i}')], axis =1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [35]:
clean = concatenated.dropna()

In [37]:
clean

,Date,Open,High,Low,Close,Close1,Close2,Close3,Close4,Close5,...,Close20,Close21,Close22,Close23,Close24,Close25,Close26,Close27,Close28,Close29
0,07/28/23,4565.75,4590.16,4564.01,4582.23,4537.41,4566.75,4567.46,4554.64,4536.34,...,4396.44,4376.86,4378.41,4328.82,4348.33,4381.89,4365.69,4388.71,4409.59,4425.84
1,07/27/23,4598.26,4607.07,4528.56,4537.41,4566.75,4567.46,4554.64,4536.34,4534.87,...,4376.86,4378.41,4328.82,4348.33,4381.89,4365.69,4388.71,4409.59,4425.84,4372.59
2,07/26/23,4558.96,4582.47,4547.58,4566.75,4567.46,4554.64,4536.34,4534.87,4565.72,...,4378.41,4328.82,4348.33,4381.89,4365.69,4388.71,4409.59,4425.84,4372.59,4369.01
3,07/25/23,4555.19,4580.62,4552.42,4567.46,4554.64,4536.34,4534.87,4565.72,4554.98,...,4328.82,4348.33,4381.89,4365.69,4388.71,4409.59,4425.84,4372.59,4369.01,4338.93
4,07/24/23,4543.39,4563.41,4541.29,4554.64,4536.34,4534.87,4565.72,4554.98,4522.79,...,4348.33,4381.89,4365.69,4388.71,4409.59,4425.84,4372.59,4369.01,4338.93,4298.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,02/18/00,1346.09,1388.26,1345.29,1346.09,1388.26,1387.67,1402.05,1389.94,1387.12,...,1441.36,1445.57,1455.90,1455.14,1465.15,1449.68,1432.25,1438.56,1457.60,1441.47
5897,02/17/00,1388.26,1399.83,1380.07,1388.26,1387.67,1402.05,1389.94,1387.12,1416.83,...,1445.57,1455.90,1455.14,1465.15,1449.68,1432.25,1438.56,1457.60,1441.47,1403.45
5898,02/16/00,1387.67,1404.72,1385.58,1387.67,1402.05,1389.94,1387.12,1416.83,1411.70,...,1455.90,1455.14,1465.15,1449.68,1432.25,1438.56,1457.60,1441.47,1403.45,1402.11
5899,02/15/00,1402.05,1407.81,1376.21,1402.05,1389.94,1387.12,1416.83,1411.70,1441.72,...,1455.14,1465.15,1449.68,1432.25,1438.56,1457.60,1441.47,1403.45,1402.11,1399.42
5900,02/14/00,1389.94,1394.55,1380.62,1389.94,1387.12,1416.83,1411.70,1441.72,1424.24,...,1465.15,1449.68,1432.25,1438.56,1457.60,1441.47,1403.45,1402.11,1399.42,1455.22